In [1]:
import numpy as np

import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.rand(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.269200  0.474553  0.951275  0.870056
2013-01-02  0.061911  0.458988  0.118176  0.037456
2013-01-03  0.347075  0.503494  0.836580  0.356487
2013-01-04  0.286239  0.222195  0.984299  0.672014
2013-01-05  0.354361  0.312449  0.899185  0.114773
2013-01-06  0.665880  0.756907  0.611495  0.356975

In [5]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1,index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"])
    }
)
df2

     A          B    C  D      E
0  1.0 2013-01-02  1.0  3   test
1  1.0 2013-01-02  1.0  3  train
2  1.0 2013-01-02  1.0  3   test
3  1.0 2013-01-02  1.0  3  train

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [7]:
df.head()

                   A         B         C         D
2013-01-01  0.269200  0.474553  0.951275  0.870056
2013-01-02  0.061911  0.458988  0.118176  0.037456
2013-01-03  0.347075  0.503494  0.836580  0.356487
2013-01-04  0.286239  0.222195  0.984299  0.672014
2013-01-05  0.354361  0.312449  0.899185  0.114773

In [8]:
df.tail()

                   A         B         C         D
2013-01-02  0.061911  0.458988  0.118176  0.037456
2013-01-03  0.347075  0.503494  0.836580  0.356487
2013-01-04  0.286239  0.222195  0.984299  0.672014
2013-01-05  0.354361  0.312449  0.899185  0.114773
2013-01-06  0.665880  0.756907  0.611495  0.356975

In [9]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.to_numpy()

array([[0.26920039, 0.47455329, 0.95127495, 0.8700562 ],
       [0.06191126, 0.4589878 , 0.11817576, 0.03745559],
       [0.34707462, 0.50349442, 0.8365796 , 0.35648695],
       [0.28623869, 0.22219537, 0.98429939, 0.67201416],
       [0.3543614 , 0.31244922, 0.89918478, 0.11477256],
       [0.66588003, 0.75690663, 0.61149537, 0.35697541]])

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [13]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train']],
      dtype=object)

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.330778  0.454764  0.733502  0.401293
std    0.195540  0.183530  0.329215  0.319835
min    0.061911  0.222195  0.118176  0.037456
25%    0.273460  0.349084  0.667766  0.175201
50%    0.316657  0.466771  0.867882  0.356731
75%    0.352540  0.496259  0.938252  0.593254
max    0.665880  0.756907  0.984299  0.870056

In [15]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.269200    0.061911    0.347075    0.286239    0.354361    0.665880
B    0.474553    0.458988    0.503494    0.222195    0.312449    0.756907
C    0.951275    0.118176    0.836580    0.984299    0.899185    0.611495
D    0.870056    0.037456    0.356487    0.672014    0.114773    0.356975

In [17]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.870056  0.951275  0.474553  0.269200
2013-01-02  0.037456  0.118176  0.458988  0.061911
2013-01-03  0.356487  0.836580  0.503494  0.347075
2013-01-04  0.672014  0.984299  0.222195  0.286239
2013-01-05  0.114773  0.899185  0.312449  0.354361
2013-01-06  0.356975  0.611495  0.756907  0.665880

In [19]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04  0.286239  0.222195  0.984299  0.672014
2013-01-05  0.354361  0.312449  0.899185  0.114773
2013-01-02  0.061911  0.458988  0.118176  0.037456
2013-01-01  0.269200  0.474553  0.951275  0.870056
2013-01-03  0.347075  0.503494  0.836580  0.356487
2013-01-06  0.665880  0.756907  0.611495  0.356975

In [23]:
df['A']

2013-01-01    0.269200
2013-01-02    0.061911
2013-01-03    0.347075
2013-01-04    0.286239
2013-01-05    0.354361
2013-01-06    0.665880
Freq: D, Name: A, dtype: float64

In [28]:
print(df)
df[2:4]

                   A         B         C         D
2013-01-01  0.269200  0.474553  0.951275  0.870056
2013-01-02  0.061911  0.458988  0.118176  0.037456
2013-01-03  0.347075  0.503494  0.836580  0.356487
2013-01-04  0.286239  0.222195  0.984299  0.672014
2013-01-05  0.354361  0.312449  0.899185  0.114773
2013-01-06  0.665880  0.756907  0.611495  0.356975

                   A         B         C         D
2013-01-03  0.347075  0.503494  0.836580  0.356487
2013-01-04  0.286239  0.222195  0.984299  0.672014

In [32]:
df["20130102":"20130105"]

                   A         B         C         D
2013-01-02  0.061911  0.458988  0.118176  0.037456
2013-01-03  0.347075  0.503494  0.836580  0.356487
2013-01-04  0.286239  0.222195  0.984299  0.672014
2013-01-05  0.354361  0.312449  0.899185  0.114773

In [38]:
df.loc[dates[0]]

A    0.269200
B    0.474553
C    0.951275
D    0.870056
Name: 2013-01-01 00:00:00, dtype: float64

In [42]:
df.loc["20130102":"20130105",["A","B"]]

                   A         B
2013-01-02  0.061911  0.458988
2013-01-03  0.347075  0.503494
2013-01-04  0.286239  0.222195
2013-01-05  0.354361  0.312449

In [59]:
df[0][0]

KeyError: 0

In [47]:
df.at[dates[0], "A"]

0.2692003874037171

In [52]:
df.iloc[[1, 2, 4], [1, 3]]

                   B         D
2013-01-02  0.458988  0.037456
2013-01-03  0.503494  0.356487
2013-01-05  0.312449  0.114773