In [1]:
import numpy as np

import pandas as pd

In [37]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [36]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [35]:
df = pd.DataFrame(np.random.rand(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.294680  0.672970  0.444479  0.088997
2013-01-02  0.475273  0.620950  0.447967  0.924176
2013-01-03  0.703800  0.489965  0.886777  0.930646
2013-01-04  0.035687  0.431058  0.310624  0.921904
2013-01-05  0.091063  0.446948  0.653045  0.873408
2013-01-06  0.074350  0.812508  0.323570  0.271982

In [33]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1,index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"])
    }
)
df2

     A          B    C  D      E
0  1.0 2013-01-02  1.0  3   test
1  1.0 2013-01-02  1.0  3  train
2  1.0 2013-01-02  1.0  3   test
3  1.0 2013-01-02  1.0  3  train

In [32]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [40]:
df.head()

                   A         B         C         D
2013-01-01  0.294680  0.672970  0.444479  0.088997
2013-01-02  0.475273  0.620950  0.447967  0.924176
2013-01-03  0.703800  0.489965  0.886777  0.930646
2013-01-04  0.035687  0.431058  0.310624  0.921904
2013-01-05  0.091063  0.446948  0.653045  0.873408

In [43]:
df.tail()

                   A         B         C         D
2013-01-02  0.475273  0.620950  0.447967  0.924176
2013-01-03  0.703800  0.489965  0.886777  0.930646
2013-01-04  0.035687  0.431058  0.310624  0.921904
2013-01-05  0.091063  0.446948  0.653045  0.873408
2013-01-06  0.074350  0.812508  0.323570  0.271982

In [44]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [47]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [49]:
df.to_numpy()

array([[0.29468015, 0.67296973, 0.44447878, 0.0889973 ],
       [0.4752732 , 0.62094986, 0.44796706, 0.92417645],
       [0.70379964, 0.48996465, 0.88677669, 0.93064571],
       [0.03568689, 0.43105843, 0.31062424, 0.9219045 ],
       [0.09106251, 0.44694817, 0.65304467, 0.8734081 ],
       [0.07434969, 0.81250754, 0.32356965, 0.27198167]])

In [52]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [54]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train']],
      dtype=object)

In [55]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.279142  0.579066  0.511077  0.668519
std    0.266694  0.149912  0.221388  0.382973
min    0.035687  0.431058  0.310624  0.088997
25%    0.078528  0.457702  0.353797  0.422338
50%    0.192871  0.555457  0.446223  0.897656
75%    0.430125  0.659965  0.601775  0.923608
max    0.703800  0.812508  0.886777  0.930646

In [56]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.294680    0.475273    0.703800    0.035687    0.091063    0.074350
B    0.672970    0.620950    0.489965    0.431058    0.446948    0.812508
C    0.444479    0.447967    0.886777    0.310624    0.653045    0.323570
D    0.088997    0.924176    0.930646    0.921904    0.873408    0.271982

In [61]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.088997  0.444479  0.672970  0.294680
2013-01-02  0.924176  0.447967  0.620950  0.475273
2013-01-03  0.930646  0.886777  0.489965  0.703800
2013-01-04  0.921904  0.310624  0.431058  0.035687
2013-01-05  0.873408  0.653045  0.446948  0.091063
2013-01-06  0.271982  0.323570  0.812508  0.074350